.navbar-container {
	width: 100%;
	min-height: 5vh;
	background-color: var(--black-color-400);
	padding: 16px 100px;
	display: flex;
	flex-direction: column;
	position: relative; 
}

.navbar-toggle {
	display: none;
	font-size: 24px;
	color: var(--white-color);
	cursor: pointer;

	@media (max-width: 1180px) {
		display: block;
		position: absolute;
		right: 20px;
		top: 20px;
	}
}

.desktop-nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;

	@media (max-width: 1180px) {
		display: none;
	}
}

.navbar-header {
	display: flex;
	align-items: center;
}

.navbar-left {
	display: flex;
	align-items: center;
	gap: 3rem;
}

.navbar-logo img {
	display: block;
}

.navbar-links {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.navbar-link {
	cursor: pointer;

	&:hover .navbar-link-label {
		color: var(--white-color-400);
	}
}

.navbar-link-label {
	color: var(--white-color);
	font-size: 1rem;
	font-weight: 400;
}

.navbar-link-icon {
	color: var(--white-color);
	font-size: 0.75rem;
}

.navbar-actions {
	display: flex;
	align-items: center;
	gap: 12px;
}

.mobile-nav-drawer {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 1rem;

	.navbar-links-mobile {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.navbar-actions-mobile {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
}
